@media screen and (max-width:700px) {
    header .container{
        display: flex;
        flex-direction: column;
    }
    .botao{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
/*
@media screen and (min-width:1000px) {
    .descricao{
        width: 50%;
    }
}
*/

@media screen and (max-width:700px){
    .filme-principal .img2{
        width: 60px;
        margin-top: 25px;
    }
    
}